@import 'nib'

img = '/img'

global-reset()
@import 'mixins'
@import 'fonts'
@import 'base'
@import 'sidebar'
@import 'logo'
@import 'nav'
@import 'social'
@import 'copyright'
@import 'all'
@import 'headline'
@import 'contact'
@import 'web'
@import 'ui'
@import 'me'
@import 'other'
@import 'tiles'
@import 'content'
@import 'project'
@import 'not-found'
@import 'loader'
