.headline
  position: relative
  z-index: 10
  margin-bottom: 34px

  &__title
    white-space: nowrap
    text-transform: uppercase
    letter-spacing: .08em

  &__contact
    position: absolute
    top: 0
    right: 0
