@font-face {
  font-family: 'rakeda';
  src:url('/fonts/rakeda.eot');
  src:url('/fonts/rakeda.eot?#iefix') format('embedded-opentype'),
    url('/fonts/rakeda.woff') format('woff'),
    url('/fonts/rakeda.ttf') format('truetype'),
    url('/fonts/rakeda.svg#rakeda') format('svg');
  font-weight: normal;
  font-style: normal;
}
