::selection
  background-color: #3ad6b0

::-moz-selection
  background-color: #3ad6b0

html
  font-family: Open Sans, Arial, Helvetica, sans-serif
  font-size: 12px
  font-weight: 600

body
  color: #f1f3ea
  background-color: #4e4f57

a
  color: #f1f3ea
  text-decoration: none

  &:active
  &:hover
    color: #3ad6b0

h2
  heading()

p
  margin: 10px 0
  line-height: 2
