.nav
  margin-top: 8vh

  &__item
    width: 120px
    height 24px
    margin: 0 auto
    margin-bottom: 2.2vh
    line-height: 24px
    font-size: 11px
    letter-spacing: .09em
    text-transform: uppercase
    text-align: center

    &_active
      background-color: #3ad6b0

    &__link
      display: block
      color: #4c5261

      &:active
      &:hover
        color: #3cdfb7

    &_active &__link
    &_active &__link:active
    &_active &__link:hover
      color: #fff

