page()
  position: absolute
  top: 0
  left: 240px
  width: calc(100% - 240px)
  min-height: 100%
  box-sizing: border-box
  padding: 28px 62px 29px 38px

icon()
  font-family: rakeda
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

heading()
  font-family: Open Sans Condensed, Arial, Helvetica, sans-serif
  font-weight: 300
  font-size: 36px
  line-height: 40px
  letter-spacing: 0
