.sidebar
  position: fixed
  transform: translateZ(0)
  z-index: 100
  top: 0
  left: 0
  width: 240px
  height: 100%
  background-color: #f1f3ea

  &__container
    position: relative
    top: 42.3vh
    transform: translateY(-50%)
