.contact
  &__email
    position: relative
    padding-right: 31px
    letter-spacing: .1em

    &__box
      color: #3ad6b0

    &:after
      content: '\e603'
      position: absolute
      top: -2px
      right: 0
      font-size: 18px
      icon()
