.social
  position: absolute
  bottom: 11.3vh
  left: 0
  width: 100%
  text-align: center
  font-size: 0

  &__item
    display: inline-block
    vertical-align: top
    margin: 0 9px
    color: #757783
    font-size: 34px
    icon()
